body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.number {
  background-color: transparent;
  color: #9b4dca;
  border: 0.1rem solid #9b4dca;
  border-radius: .4rem;
  font-size: 1.1rem;
  height: 3.8rem;
  line-height: 3.8rem;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 3rem;
}

.stats {
  color: #ffffff;
  background-color: transparent;
  border: 0.1rem solid #606c76;
  border-radius: .4rem;
  padding: 0;
  width: 100px;
  height: 60px;
  text-align: center;
  margin-left: 1rem;
}

.pos {
  display: inline-block;
  background-color: #21ba45;
  width: 50%;
  height: 60%;
  margin: 0;
  vertical-align: middle;
}

.neg {
  display: inline-block;
  background-color: #db2828;
  width: 50%;
  height: 60%;
  margin: 0;
  vertical-align: middle;
}

.tot {
  background-color: #eaae00;
  height: 40%;
  vertical-align: middle;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
